@use "./mixin" as m;

.footer {
  text-align: center;
  padding: 3.2rem 1.6rem;
  background:
    url("/images/common/court.svg") no-repeat right -100px center / 460px,
    url("/images/common/player.svg") no-repeat left top / auto 100%;
  background-color: var(--color-l-1);
  color: var(--color-d-7);

  @include m.tab {
    background-size: 360px, 280px;
    background-position:
      right -100px center,
      left -20px top;
    padding: 2rem 1.6rem 6.2rem;
  }

  @include m.sp {
    font-size: 3.7vw;
    padding-bottom: 6rem;
    background-image: none;
  }

  &__title {
    color: #fff;
    font-size: var(--fs-m);
  }

  &__logo {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    img {
      width: 8rem;
      cursor: pointer;
    }
  }

  &__menu {
    margin-block: 8px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;

    svg {
      width: 4rem;
      height: auto;
    }
  }
}

.scrolltotop {
  transform: scale(0);
  pointer-events: none;
  bottom: 3.2rem;
  right: 3.2rem;
  opacity: 0;

  &.is-show {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
  }

  @include m.tab {
    bottom: 10rem;
    right: 2rem;
  }

  @include m.sp {
    bottom: 10rem;
    right: 2rem;
  }

  &:hover {
    background-color: var(--color-l-2-hover);
  }

  svg {
    width: 26px;
  }
}
