@use "./mixin" as m;

.login {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-color: var(--color-l-4);

  @include m.sp {
    padding-top: 40px;
  }
}

.form {
  padding: var(--padding-block) var(--padding-inline);
  box-shadow: 0px 0px 2rem 4px rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--radius-xl);
  width: 100%;
  max-width: 400px;

  @include m.sp {
    max-width: calc(100% - var(--padding-inline) * 2);
    border-radius: var(--radius-m);
  }

  &__title {
    text-align: center;

    @include m.sp {
      font-size: 2.4rem;
      margin-bottom: 4px;
    }
  }

  &__eye {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.2rem;
    z-index: 2;
    margin-block: auto;
    width: 2rem;
    height: 1.5rem;
    background: url("/images/common/eye.svg") no-repeat center / contain;

    &.is-text {
      background-image: url("/images/common/eye-crossed.svg");
    }
  }

  &__wrap {
    position: relative;
  }

  &__control {
    margin-bottom: var(--margin-bottom);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__label {
    cursor: pointer;
  }

  &__checkbox {
    $width: 18px;
    padding-left: $width + 10px;
    margin-bottom: var(--margin-bottom-2xs);
    position: relative;
    cursor: pointer;
    width: max-content;

    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;

      &:checked {
        & + .form__checkbox--icon {
          box-shadow: 0 0 6px rgba($color: #000, $alpha: 0.3);
          background-color: var(--color-l-1);

          &:after {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }

    &--icon {
      width: $width;
      height: $width;
      position: absolute;
      top: 2px;
      left: 0;
      border-radius: var(--radius-s);
      border: 1px solid var(--color-l-1);
      transition: 0.3s ease;

      &:after {
        top: -7px;
        left: 2px;
        width: $width + 4px;
        aspect-ratio: 1;
        content: "";
        position: absolute;
        opacity: 0;
        transform: scale(0);
        transition: 0.3s ease;
        background: url("/images/common/shuttlecock-checkbox.svg") no-repeat
          center / contain;
      }
    }
  }

  &__error {
    margin-top: 2px;
    font-style: italic;
    color: var(--color-error);
    font-size: var(--fs-xs);
  }

  &__button {
    margin-bottom: var(--margin-bottom-2xs);
    width: 100%;
    padding: 8px 16px;
    color: var(--color-l-4);
    border-radius: var(--radius-s);
    font-size: var(--fs-default);
    cursor: pointer;
    transition: 0.3s ease;
    @include m.gradient01;
    overflow: hidden;

    &--text {
      position: relative;
      z-index: 1;
    }
  }

  &__checkbox {
    font-size: 1.6rem;
  }

  input {
    &:disabled {
      cursor: not-allowed;
    }

    &:not([type="checkbox"]) {
      padding: 6px 1.2rem;
      color: #111;
      font-size: var(--fs-default);
      border-radius: var(--radius-s);
      border: 1px solid var(--color-l-2);
      background-color: #fff;
      width: 100%;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}
