@use "./mixin" as m;
@use "./commingsoon";
@use "./skeleton";
@use "./tabs";
@use "./title";
@use "./other";
@use "./header";
@use "./progressbar";
@use "./list";
@use "./footer";
@use "./form";
@use "./utilities";
@use "tailwindcss";

:root {
  // COLOR
  --color-default: #111;

  // LIGHT
  --color-l-1: #fe7743;
  --color-l-1-hover: #f16128;
  --border-color-1: 254, 119, 67;
  --color-l-2: #273f4f;
  --shadow-color-2: 39, 63, 79;
  --color-l-2-hover: #1b3647;
  --color-l-3: #447d9b;
  --color-l-3-hover: #2e7499;
  --color-l-4: #ece9e9;
  --color-l-5: #c4cdd5;
  --color-l-6: #f7fbff;
  --color-l-7: #faa380;
  --color-error: #f44336;
  --color-error-hover: #ec2112;

  // DARK
  --color-d-1: #222831;
  --color-d-2: #393e46;
  --color-d-3: #00adb5;
  --color-d-4: #eeeeee;
  --color-d-5: #141a21;
  --color-d-6: #454f5b;
  --color-d-7: #e7edf5;
  --color-d-8: #394a5e;

  // BORDER-RADIUS
  --radius-xxl: 2rem;
  --radius-xl: 1.6rem;
  --radius-l: 1.2rem;
  --radius-m: 8px;
  --radius-s: 4px;

  // SPACING PADDING
  $space-scale: (
    5xl: 8rem,
    4xl: 6rem,
    3xl: 4rem,
    2xl: 3.6rem,
    xl: 3.2rem,
    l: 3rem,
    md: 2.8rem,
    sm: 2.4rem,
    xs: 2rem,
    2xs: 1.2rem,
    3xs: 8px,
    default: 1.6rem,
  );

  $targets: (
    padding: (
      top,
      bottom,
      right,
      left,
      inline,
      block,
    ),
    margin: (
      top,
      bottom,
      right,
      left,
      inline,
      block,
    ),
  );

  @each $type, $dirs in $targets {
    @each $dir in $dirs {
      @each $size, $val in $space-scale {
        @if $size == default {
          --#{$type}: #{$val};
          --#{$type}-#{$dir}: #{$val};
        } @else {
          --#{$type}-#{$dir}-#{$size}: #{$val};
          --#{$type}-#{$size}: #{$val};
        }
      }
    }
  }

  //  SPACING
  $spacings: (
    2xs: 2px,
    xs: 4px,
    s: 8px,
    sm: 1.2rem,
    m: 2rem,
    md: 2.4rem,
    l: 2.8rem,
    xl: 3.2rem,
    2xl: 3.6rem,
    3xl: 4rem,
  );

  --spac: 1.6rem; // default

  @each $key, $value in $spacings {
    --spac-#{$key}: #{$value};
  }

  // MAX WIDTH
  --max-width: calc(1200px + var(--padding-inline) * 2);

  // Font Size Scale
  --fs-default: 1.6rem;
  --fs-xs: clamp(1.2rem, 1.1rem + 0.2vw, 1.4rem);
  --fs-sm: clamp(1.4rem, 1.2rem + 0.3vw, 1.6rem);
  --fs-md: clamp(1.6rem, 1.3rem + 0.5vw, 1.8rem);
  --fs-lg: clamp(1.8rem, 1.4rem + 0.8vw, 2.2rem);
  --fs-xl: clamp(2rem, 1.6rem + 1.2vw, 2.8rem);
  --fs-2xl: clamp(2.4rem, 1.8rem + 1.8vw, 3.6rem);
  --fs-3xl: clamp(3rem, 2rem + 2.5vw, 4.8rem);
  --fs-4xl: clamp(3.6rem, 2.4rem + 3.5vw, 6.4rem);
  --fs-5xl: clamp(4.5rem, 3rem + 4vw, 7rem);
  --fs-6xl: clamp(6.5rem, 3rem + 5vw, 8rem);
  --fs-7xl: clamp(7rem, 4rem + 6vw, 10rem);
}

body {
  color: #111;
  background-color: var(--color-l-4);
  line-height: 1.7;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  &:focus-visible {
    outline: none;
  }
}

img {
  display: inline-block;
}

.container {
  margin-inline: auto;
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  width: 100%;
}

.transition-cubic {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

// Demo Light Dark Theme
// .demo {
//   @apply text-center;

//   @variant dark {
//     background: black;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   body {
//     background: black;
//     color: white;
//   }
// }

// :root {
//   color-scheme: light dark;
// }
// .demo {
//   color: light-dark(#111, #eee) !important;
// }

:disabled,
[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.member {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: var(--spac);
  max-width: 1400px;
  margin-inline: auto;

  @include m.sp {
    display: block;
  }

  .title03 {
    margin-bottom: var(--spac-m);
  }

  &__join {
    margin-bottom: var(--spac-s);
  }

  &__avatar {
    text-align: center;

    img {
      margin-bottom: var(--spac-xs);
      border-radius: var(--radius-l);
      width: 100%;
      object-fit: cover;
      max-height: 800px;

      @include m.sp {
        max-width: 768px;
      }
    }

    @include m.sp {
      border-radius: var(--radius-m);
      width: 100%;
      margin-bottom: var(--spac);
    }
  }

  &__content {
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--color-default);
  height: 2rem;
  border-radius: var(--radius-s);
  margin-bottom: var(--spac-s);

  &--avatar {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }

  &--title {
    height: 3.5rem;
  }

  &--title04 {
    height: 6rem;
    width: 50%;
    margin-inline: auto;

    @include m.sp {
      width: 100%;
      height: 4rem;
    }
  }

  &--title02 {
    height: 6rem;

    @include m.sp {
      height: 4rem;
    }
  }

  &--title01 {
    height: 8rem;

    @include m.sp {
      height: 4rem;
    }
  }

  &--short {
    width: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.badge {
  display: inline-block;
  padding: var(--spac-2xs) var(--spac-sm) 0;
  border-radius: 0.375rem;
  background-color: rgba(156, 163, 175, 0.1);
  border: 1px solid var(--color-d-6);

  &--type01 {
    border-color: var(--color-error);
    background-color: transparent;
    color: var(--color-error);
  }
}

.list03 {
  display: flex;
  gap: var(--spac);
  flex-wrap: wrap;
}

.list02 {
  &__year {
    font-size: var(--fs-xl);
    color: var(--color-l-1);
    border-radius: var(--radius-m);
    border: 1px solid var(--color-l-1);
    width: max-content;
    padding: var(--spac-xs) var(--spac);
    margin-bottom: var(--spac-m);
  }

  ul {
    padding-left: var(--spac);

    .list02__item {
      position: relative;

      &:before {
        top: var(--spac-m);
        left: calc(var(--spac) * -1);
        height: 100%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color-d-7);
        content: "";
        position: absolute;
      }

      // .list02 ul .list02__item:after .
      &:after {
        width: 20px;
        height: 5.2rem;
        border-bottom-left-radius: var(--radius-l);
        border-left: 1px solid var(--color-d-7);
        border-bottom: 1px solid var(--color-d-7);
        position: absolute;
        top: var(--spac-m);
        left: calc((var(--spac) * -1) + 3px);
        content: "";

        @include m.sp {
          height: 4.8rem;
        }
      }
    }
  }

  &__item {
    margin-bottom: var(--spac-l);
  }

  &__month {
    margin-bottom: var(--spac-sm);
    font-size: var(--fs-lg);
    color: var(--color-d-7);
    border-radius: var(--radius-m);
    border: 1px dashed var(--color-d-7);
    width: max-content;
    padding: var(--spac-xs) var(--spac);
  }
}

.list-attendance {
  // .list-attendance .card .
  .card {
    border-color: var(--color-d-6);
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--color-d-6);
    }

    &__detail {
      margin-bottom: 0;
    }

    &__attendance {
      @include m.sp {
        font-size: 1.2rem;
      }
    }
  }

  input {
    &[type="checkbox"] {
      pointer-events: none;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.form02 {
  margin-bottom: var(--spac-md);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spac);
  align-items: center;

  // .form02 .input .
  .input {
    width: 312px;
    flex-shrink: 0;

    @include m.sp {
      width: 100%;
    }
  }

  // .form02 .button01 .
  .button01 {
    flex: 1;
    min-width: 150px;

    @include m.sp {
      position: sticky;
      top: var(--spac);
      z-index: 7;
    }
  }
}

.form03 {
  &__preview {
    margin-top: var(--spac);
    cursor: pointer;

    img {
      width: 100%;
      max-height: 368px;
      border-radius: var(--radius-l);
      object-fit: cover;

      @include m.sp {
        max-height: auto;
      }
    }
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spac);
    margin-bottom: var(--spac);

    @include m.sp {
      grid-template-columns: 1fr;
    }
  }

  &__upfile {
    text-align: center;
    border-radius: var(--radius-m);
    border: 1px dashed var(--color-default);
    padding: var(--spac-xs) var(--spac-sm);
    display: block;
    cursor: pointer;
  }

  &__file {
    opacity: 0;
    width: 0;
    height: 0;
    display: block;
  }

  &__control {
    position: relative;

    span {
      // background-color: var(--color-d-7);
      // position: absolute;
      // margin-block: auto;
      // left: var(--spac);
      // top: -2px;
      // transition: 0.1s ease;
      // pointer-events: none;
      // color: rgba($color: var(--color-default), $alpha: 0.5);
    }
  }

  // .form03__input .
  &__input {
    border-radius: var(--radius-m);
    border: 1px solid var(--color-default);
    padding: var(--spac-sm) var(--spac);
    width: 100%;
    color: var(--color-default);

    &:focus {
      border-color: var(--color-l-1);
      outline-color: var(--color-l-1);
    }

    &:hover {
      border-color: var(--color-l-7);
    }

    // &:focus,
    // &:not(:placeholder-shown) {
    //   & + span {
    //     top: -3rem;
    //   }
    // }
  }
}

.button01 {
  color: var(--color-l-6);
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--radius-m);
  padding: var(--padding-3xs) var(--padding-2xs);
  background-color: var(--color-l-1);
  width: 100%;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: var(--color-l-1-hover);
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
  }

  svg {
    min-width: 25px;
  }

  &--type01 {
    background-color: var(--color-l-3);

    &:hover {
      background-color: var(--color-l-3-hover);
    }
  }

  &--cancel {
    background-color: var(--color-error);

    &:hover {
      background-color: var(--color-error-hover);
    }
  }
}

.button02 {
  margin-bottom: var(--spac);
  text-decoration: underline;
  text-underline-offset: var(--spac-xs);
  gap: var(--spac-s);
  display: flex;
  align-items: center;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spac);

  @include m.sp {
    display: block;
  }

  &__box {
    margin-bottom: var(--margin);
    border-radius: var(--radius-m);
    border: 1px solid var(--color-d-6);
    width: 200px;
    padding: var(--spac);

    @include m.sp {
      width: 100%;
    }
  }

  &__number {
    color: var(--color-l-1);
  }
}

.noresult {
  margin-top: var(--margin-2xl);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 50%;

    @include m.sp {
      width: 100%;
      max-width: 320px;
    }
  }
}

.input {
  padding-right: var(--padding-l);
  border: 1px solid var(--color-d-6);
  border-radius: var(--radius-m);
  position: relative;

  &:hover,
  &:focus-within {
    border-color: var(--color-l-1);
  }

  input {
    padding: var(--padding-3xs) var(--padding-2xs);
    width: 100%;
    min-width: 280px;

    @include m.sp {
      min-width: calc(100% - 80px);
    }

    &:focus {
      outline: none;
    }
  }

  &--date {
    padding-right: 0;
  }
}

// ...search .
.search {
  display: flex;
  gap: 16px;
  margin-bottom: var(--spac-2xl);
  flex-wrap: wrap;

  @include m.sp {
    margin-bottom: var(--spac);
    flex-direction: column;
  }

  // .search__reset .
  &__reset {
    right: var(--margin-2xs);
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: var(--radius-s);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba($color: #e7edf5, $alpha: 0.3);
    }
  }

  &__select {
    border: 1px solid var(--color-d-6);
    border-radius: var(--radius-m);
    padding: var(--padding-3xs) var(--padding-2xs);
  }

  &__sort {
  }

  // .search__input .
  &__input {
    padding-right: var(--padding-l);
    border: 1px solid var(--color-d-6);
    border-radius: var(--radius-m);
    position: relative;

    &:hover,
    &:focus-within {
      border-color: var(--color-l-1);
    }

    input {
      padding: var(--padding-3xs) var(--padding-2xs);
      width: 100%;
      min-width: 280px;

      @include m.sp {
        min-width: calc(100% - 80px);
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.closemenu {
  display: none;

  @include m.sp {
    display: block;
    position: absolute;
    top: var(--padding-3xs);
    cursor: pointer;
    z-index: 99;
    right: var(--padding-3xs);
  }
}

.admin {
  display: grid;
  grid-template-columns: 200px 1fr;
  transition: grid-template-columns 0.3s ease;
  background-color: var(--color-d-5);
  color: var(--color-d-7);

  @include m.sp {
    display: block;
  }

  &__logo {
    margin-top: var(--margin-md);
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: 80px;
  }

  .icon {
    &-uncollapsed {
      display: none;

      @include m.sp {
        display: block;
      }
    }

    &-collapsed {
      @include m.sp {
        display: none;
      }
    }
  }

  &.is-collapsed {
    grid-template-columns: 100px 1fr;

    .icon {
      &-uncollapsed {
        display: block;
      }

      &-collapsed {
        display: none;
      }
    }
  }

  .button {
    &-notice {
      margin-right: 8px;
      color: var(--color-d-7);
    }

    &-collapsed {
      margin-right: auto;
      cursor: pointer;
      color: var(--color-d-7);
    }
  }

  &__avatar {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    img {
      @include m.imgcover;
    }
  }

  &__bottom {
    padding-top: var(--padding-md);
    border-top: 1px dashed var(--color-d-6);
  }

  // .admin__link .
  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: var(--padding-3xs) var(--padding-2xs);
    margin-bottom: var(--margin-2xs);
    transition: 0.3s ease;
    color: var(--color-d-7);
    border-radius: var(--radius-m);

    &:hover,
    &.is-active {
      background-color: var(--color-l-1);
    }
    svg {
      min-width: 25px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed var(--color-d-6);
    padding: var(--padding-2xs) var(--spac);
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--color-d-5);
    z-index: 8;
  }

  // .admin__navbar .
  &__navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: var(--padding-top-sm);
    padding-inline: var(--padding-inline);
    background-color: var(--color-d-5);
    min-height: 100vh;
    height: 100%;
    border-right: 1px dashed var(--color-d-6);
    width: 200px;
    transition: 0.3s ease;

    @include m.sp {
      transform: translateX(-100%);
    }

    .title03 {
      margin-bottom: var(--margin);
      transition: 0.3s ease;
    }
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000, $alpha: 0.3);
    transition: 0.2s ease;
    opacity: 0;
    pointer-events: none;
    display: none;

    @include m.sp {
      display: block;
    }
  }

  // .admin__text .
  &__text {
    transition: 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
  }

  &__sidebar {
    flex-shrink: 0;
    transition: 0.3s ease;
    min-height: 100vh;

    @include m.sp {
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    &.is-collapsed {
      pointer-events: all;

      .admin__logoCaption,
      .button01__text {
        display: none;

        @include m.sp {
          display: block;
        }
      }

      .admin {
        &__navbar {
          width: 100px;

          @include m.sp {
            width: 200px;
            transform: translateX(0);
          }

          .title03 {
            font-size: 1.8rem;

            @include m.sp {
              font-size: 3.2rem;
            }
          }
        }

        &__link {
          justify-content: center;
        }

        // .admin__sidebar.is-collapsed .admin__text .
        &__text {
          display: none;

          @include m.sp {
            display: block;
          }
        }

        &__bg {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &__main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include m.sp {
      width: 100%;
    }
  }

  // .admin__content .
  &__content {
    padding: var(--spac-xl) var(--spac);
    min-height: 100dvh;

    @include m.sp {
      flex: 1;
    }
  }

  &__footer {
    padding: var(--spac);
    text-align: center;
    font-size: var(--fs-xs);
  }

  &__header,
  &__footer {
    flex-shrink: 0;
  }

  &__content {
    flex: 1;
  }
}

.sort {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;

  &__text {
    @include m.sp {
      width: 100%;
    }
  }
}

.result {
  margin-bottom: var(--margin-2xs);
}

.select {
  // .select__container .
  &__container {
    width: 200px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--color-d-6);
    border-radius: var(--radius-m);
    transition: 0.3s ease;

    @include m.sp {
      width: 100%;
    }

    &:hover {
      border-color: var(--color-l-1);
    }
  }

  &-custom {
    // .select-custom__control .
    &__control {
      background-color: transparent;
      display: flex;
      align-items: center;
    }

    &__option {
      padding: var(--padding-3xs);
      background-color: var(--color-d-5);
    }

    &__single-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__menu {
    }

    // .select-custom__value-container .
    &__value-container {
      position: relative;
      padding: var(--padding-3xs) var(--spac);
      width: calc(100% - 37px);
      background-color: var(--color-d-5);
      border-radius: var(--radius-m);

      input {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__option--is-focused {
      background-color: var(--color-d-6);
    }

    &__option--is-selected {
      background-color: var(--color-default);
    }

    &__indicators {
      margin-left: auto;
      border-left: 1px solid var(--color-d-6);
    }

    // .select-custom__placeholder

    // .select-custom__multi-value
    // .select-custom__multi-value__label
    // .select-custom__multi-value__remove

    // .select-custom__indicators
    // .select-custom__clear-indicator
    // .select-custom__dropdown-indicator
    // .select-custom__indicator-separator

    // .select-custom__menu-list

    // .select-custom__group
    // .select-custom__group-heading

    // .select-custom__loading-message
    // .select-custom__no-options-message
  }
}

.card {
  border: 1px solid var(--color-l-1);
  border-radius: var(--radius-m);
  padding: var(--spac);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spac);

  &--skeleton {
    border-color: var(--color-d-6);
  }

  &.is-active {
    border-color: var(--color-l-1);
    background-color: var(--color-d-8);

    .badge {
      border-color: var(--color-d-7);

      &--type01 {
        border-color: var(--color-error);
      }
    }
  }

  &:hover {
    .card {
      &__img {
        transform: scale(1.1);
      }
    }
  }

  // .card .button01
  .button01 {
    margin-bottom: 0;
  }

  // .card__control .
  &__control {
    margin-top: var(--spac);
    display: flex;
    justify-content: space-between;
    gap: var(--spac);
  }

  &__img {
    @include m.imgcover;
    transition: 0.3s ease;
  }

  // .card__name .
  &__name {
    font-size: var(--fs-xl);
    color: var(--color-l-1);
    line-height: 1.3;
  }

  &__join {
    margin-top: var(--spac-xs);
  }

  // .card__avatar .
  &__avatar {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--radius-m);
  }

  &__body {
    flex: 1;
  }

  &__avatar,
  &__footer {
    flex-shrink: 0;
  }

  // .card-list .
  &-list {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    &.list-attendance {
      @include m.sp {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.pagination {
  margin-top: var(--spac-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spac-xs);

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    border-radius: var(--radius-s);
    width: 4rem;
    aspect-ratio: 1;
    background-color: var(--color-l-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-d-7);
    cursor: pointer;
    transition: 0.3s ease;

    @include m.sp {
      width: 2.5rem;
      font-size: 1.2rem;
    }

    &:hover {
      background-color: transparent;
    }

    &.is-current {
      background-color: transparent;
      pointer-events: none;
      cursor: text;
    }
  }
}

.modal {
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: var(--spac-xl) var(--spac);
  overflow-x: hidden;
  overflow-y: auto;

  @include m.sp {
    padding: var(--spac-md) var(--spac);
  }

  &__title {
    font-size: var(--fs-xl);
    text-align: center;
  }

  // .modal__header .
  &__header {
    border-bottom: 1px dashed var(--color-default);
    padding: var(--spac-xs) var(--spac-xl);
  }

  &__body {
    padding: var(--spac);
  }

  &__footer {
    padding: var(--spac);
    border-top: 1px dashed var(--color-default);
    display: flex;
    gap: var(--spac);
  }

  // .modal__close .
  &__close {
    cursor: pointer;
    position: absolute;
    top: var(--spac-s);
    right: var(--spac-s);
    border-radius: var(--radius-m);
    transition: 0.3s ease;

    &:hover {
      background-color: #fff;
    }
  }

  // .modal__dialog .
  &__dialog {
    max-width: 73.2rem;
    border-radius: var(--radius-l);
    position: relative;
    width: max-content;
    background-color: var(--color-d-7);
    color: var(--color-default);
    box-shadow: 0 0 var(--spac-m) var(--spac-s) rgba($color: #111, $alpha: 0.8);
    margin-inline: auto;

    @include m.sp {
      width: calc(100% - var(--spac));
      max-width: auto;
    }
  }

  &--small {
    .modal {
      &__dialog {
        max-width: 40rem;
      }
    }
  }
}
