@use "./mixin" as m;

.admin {
  &-main {
    display: flex;
    min-height: 100vh;

    @include m.sp {
      display: block;
    }
  }

  &-content {
    padding: 20px;
    width: 100%;
  }
}

.navbar {
  &-admin {
    padding: 20px;
    width: 250px;
    flex-shrink: 0;
    background-color: #0894a7;
    color: #fff;

    @include m.sp {
      width: 100%;
    }
  }
}
