@use "./mixin" as m;

.modal {
	&-custom {
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.5);
	}

	&-dialog {
		pointer-events: all;
	}

	&-footer {
		gap: 0 10px;
	}
}