@use "./mixin" as m;

.map {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: var(--radius-xl);
  overflow: hidden;

  @include m.sp {
    border-radius: var(--radius-l);
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.block01s {
  & > li {
    &:not(:first-child) {
      margin-top: var(--margin-top-2xl);

      @include m.sp {
        margin-top: var(--margin-top-sm);
      }
    }
  }
}

.block01 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 32px;

  @include m.sp {
    display: block;
  }

  &__caption {
    font-style: italic;
    opacity: 0;
    pointer-events: none;
  }

  // .block01__img .
  &__img {
    flex: 1;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-xl);
    box-shadow: -4px 4px 12px 2px
      rgba($color: var(--shadow-color-2), $alpha: 0.6);

    @include m.sp {
      margin-top: 1rem;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }

  &__content {
    width: 50%;

    @include m.sp {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 16px;

    @include m.sp {
      text-align: center;
      margin-bottom: 8px;
    }
  }

  // .block01--reverse .
  &--reverse {
    flex-direction: row-reverse;

    .block01 {
      // .block01--reverse .block01__title .
      &__title {
        text-align: right;

        @include m.sp {
          text-align: center;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__row {
    &--full {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include m.sp {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.block02 {
  display: flex;
  gap: 16px;

  @include m.sp {
    flex-direction: column;
  }

  &__content {
    width: 65ch;

    @include m.sp {
      width: 100%;
    }
  }

  &__text {
    padding-left: var(--spac-m);
    position: relative;

    .icon {
      top: var(--spac-xs);
      left: 0;
      position: absolute;
    }
  }
}

.line01 {
  display: inline-block;
  margin-inline: 8px;

  @include m.sp {
    margin-inline: auto;
    display: block;
    line-height: 0.5rem;
    margin-bottom: 4px;
    color: transparent;
    width: 4px;
    height: 12px;
    background-color: var(--color-l-2);
  }
}

.bg-global-01 {
  $width: 40vw;
  $widthSp: 100vw;
  $offset: 20vw;
  $offsetSp: 20vw;

  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  &:before,
  &:after {
    width: $width;
    top: -$offset;
    aspect-ratio: 1;
    background-color: var(--color-l-1);
    opacity: 0.1;
    position: fixed;
    left: 0;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 0;
    content: "";

    @include m.sp {
      width: $widthSp;
      top: -$offsetSp;
    }
  }

  &:after {
    top: auto;
    left: auto;
    right: 0;
    bottom: -$offset;
    transform: translateX(50%);

    @include m.sp {
      bottom: -$offsetSp;
    }
  }
}

.bg-global-02 {
  $width: 22vw;
  $widthSp: 40vw;
  $offsetX: 50px;
  $offsetY: 100px;
  $offsetXSp: 30px;
  $offsetYSp: 30vw;

  &:before,
  &:after {
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.1;
    position: fixed;
    z-index: 0;
    content: "";
    width: $width;

    @include m.sp {
      width: $widthSp;
    }
  }

  &:before {
    right: -$offsetX;
    top: -$offsetY;
    background-image: url("/images/common/shuttlecock-color-1.svg");

    @include m.sp {
      right: -$offsetXSp;
      top: $offsetYSp;
    }
  }

  &:after {
    left: -$offsetX;
    bottom: -$offsetY;
    background-image: url("/images/common/racket-color-1.svg");

    @include m.sp {
      left: -$offsetXSp;
      bottom: $offsetYSp;
    }
  }
}

.mainhome {
  & > section {
    position: relative;
    z-index: 2;
  }
}

// ...banner .
.banner {
  $navbarHeight: 8.5rem;
  $navbarHeightSp: 6.1rem;
  $menuHeight: 4.5rem;

  margin-inline: auto;
  padding-bottom: 120px;
  position: relative;
  width: 100%;
  max-width: calc(100% - 32px);
  border-radius: var(--radius-xl);
  overflow: hidden;
  height: calc(100vh - $navbarHeight - var(--spac));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: $navbarHeight;

  @include m.sp {
    padding-bottom: 1.6rem;
    margin-top: $navbarHeightSp;
    border-radius: var(--radius-m);
    height: calc(100vh - $navbarHeightSp - $menuHeight - var(--spac-s));
  }

  &.is-mobile {
    height: calc(100vh - $navbarHeight - $menuHeight - var(--spac));

    @include m.sp {
      height: calc(100vh - $navbarHeightSp - $menuHeight - var(--spac-s));
    }
  }

  &__bg {
    position: absolute;
    background-color: rgba($color: #000, $alpha: 0.5);
    inset: 0;
  }

  &__text {
    color: #fff;
    font-size: var(--fs-sm);

    letter-spacing: 3px;

    @include m.sp {
      // font-size: 1.05rem;
      letter-spacing: 2px;
    }
  }

  // .banner__button .
  &__button {
    bottom: 3.6rem;
    width: 4rem;
    position: absolute;
    margin-inline: auto;
    cursor: pointer;

    @include m.sp {
      bottom: 1.6rem;
      width: 3rem;
    }

    span {
      display: block;
      animation: scroll-down 0.8s infinite alternate;
    }

    img {
      width: 100%;
    }
  }

  @keyframes scroll-down {
    0% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(5px);
    }
  }

  &__subtitle {
    font-size: var(--fs-3xl);

    // @include m.sp {
    //   font-size: 24px;
    // }
  }

  // .banner__container .
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-position: center;
    background-size: cover;
  }

  // .banner__content .
  &__content {
    padding: 1.6rem 3.2rem 3.2rem;
    background: rgba(255, 255, 255, 0.05);
    @include m.backdropfilter(2px);
    border-radius: var(--radius-xl);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);

    @include m.sp {
      text-align: center;
      border-radius: var(--radius-l);
      max-width: calc(100% - 32px);
      padding: 0 16px 16px;
      width: 100%;
    }
  }

  .button03 {
    bottom: 2rem;
    right: 2rem;
    position: absolute;
  }

  &__subtitle {
    margin-top: -1.2rem;
    margin-bottom: 8px;
    color: var(--color-d-7);
    font-weight: 500;
    letter-spacing: 2rem;

    @include m.sp {
      letter-spacing: 1rem;
    }
  }
}

.main-content {
  // .main-content section .
  section {
    padding-top: var(--padding-top-5xl);

    @include m.tab {
      padding-top: var(--padding-top-3xl);
    }

    &:last-child {
      padding-bottom: var(--padding-bottom-5xl);

      @include m.tab {
        padding-bottom: var(--padding-bottom-3xl);
      }
    }
  }
}

.imgtitle {
  width: 80px;
  margin-inline: auto;

  @include m.sp {
    width: 60px;
  }

  img {
    width: 100%;
    height: auto;
  }

  &--small {
    width: 60px;

    @include m.sp {
      width: 40px;
    }
  }
}

.text--normal {
  font-size: 1.6rem;
}

.link {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  font-size: var(--fs-default);
  width: max-content;
  margin-inline: auto;
  position: relative;

  @include m.hover {
    &:after {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &:after {
    opacity: 0;
    content: "";
    background-color: currentColor;
    width: 100%;
    transition: 0.3s ease;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
  }

  img {
    width: 16px;
  }
}

.icon {
  max-width: 30px;
  width: auto;
  height: auto;

  &--xl {
    width: 80px;
  }
}
